#banner{
  width:100%;
  height:500px;
  background-image:url('../../img/site/background.png');
  background-size: cover;
  
}

/* Modernizr Webp */
/*.webp #banner{
	width: 100%;
   	height:100vh;
 	background-image:url('../../img/site/background.webp');
  	background-size: cover;
}
.no-webp #banner{
	background-image:url('../../img/site/background.png');
}*/
/* Fim Modernizr Webp */

#banner h1{font-size:4vh;margin-top:100px}

#grade h2{font-size:2vh;margin-top:70px}

/*#grade h3{font-size:1vh}*/