/*  ----------- SECTION BANNER -----------  */
/*#banner{
  width:100%;
  height:500px;
  background-image:url('../../img/site/background.png');
  background-size: cover;
}*/
/* Modernizr Webp */
.webp #banner{
  width: 100%;
  height:500px;
  background-image:url('../../img/site/background.webp');
  background-size: cover;
}
.no-webp #banner{
  background-image:url('../../img/site/background.png');
}
/* Fim Modernizr Webp */
#banner h1{
  font-size:3vh;
  color:#FFFFFF;text-shadow: 2px 2px 8px #000000
}

#banner h2{
  font-size:3vh;
  color:#EA6509;
  text-shadow: 2px 2px 8px #000000;
}
/* -------------------------------------------- */

/*  ----------- SECTION SERVICO -----------  */
#section-servico h2{font-size:4vh}

#section-servico h3{font-size:3vh;padding-top:20px}

#section-servico .col-md{margin-top:20px!important}

#section-servico img{width:100%;height:227px}

#section-servico .col-md{background-color:#F7F7F7;padding:0;margin: 0 20px 0 20px}
/* -------------------------------------------- */

/*  ----------- SECTION QUEM SOMOS -----------  */
#section-quem-somos{padding-top:0px}

#section-quem-somos h2{font-size:4vh;margin-top:20px}

#section-quem-somos .col-md:nth-child(1){background-color:#F7F7F7}

#section-quem-somos .col-md:nth-child(1) .box{background-color:#F7F7F7;/*margin-right: 30px;min-width: 400px;*/}
/* Utiliza a classe webp inserida na tag html pelo Modernizr */
.webp #section-quem-somos .col-md:nth-child(2){
  width: 100%;
  background: url('../../img/site/quem-somos.webp');
  background-attachment: fixed;
  background-size: 50% 100%;
}
/* -------------------------------------------- */

/*  ----------- INFO METRICA -----------  */
.info-metrica h3{font-size:3vh}

.info-metrica h4{font-size:3vh}

.info-metrica{padding-top:0px;background-color:#EDCD1F;color:#3D5975}

.info-metrica .col-6{padding-top:100px}
/* -------------------------------------------- */

/*  ----------- SECTION PROJETOS -----------  */
/*Efeito de imagem*/
#section-projetos h2{font-size:4vh}

#section-projetos .box {position:relative;width:100%;/*margin: auto;*/}

#section-projetos .row,
#section-projetos .col-md:nth-child(2),
#section-projetos .col-md:nth-child(4){margin-top:20px!important}

#section-projetos .image{
  opacity:1;
  display:block;
  width:100%;
  height:auto;
  transition: .5s ease;
  backface-visibility:hidden;
}

.middle{
  transition: .5s ease;
  opacity:0;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align:center;
}

#section-projetos .box:hover .image{opacity:0.3}

#section-projetos .box:hover .middle{opacity:1}

#section-projetos .text{
  border-radius:25px;
  background-color:#000000;
  color:white;
  font-size:16px;
  padding: 16px 32px;
}

/*Efeito de imagem*/
/*#section-projetos .padding{padding-top:30px;padding-bottom:30px}*/
/* -------------------------------------------- */

/*  ----------- SECTION CONTATO -----------  */
#section-contato h2{font-size:4vh}

#section-contato{background-color:#F7F7F7}

#section-contato h3{margin-top:50px}

#section-contato .btn-enviar{width:100%}

#section-contato i{font-size:20px}
/* -------------------------------------------- */

/*  ################## VIEW MOBILE ####################  */

/*  ----------- MEDIA SCREEN 320px — 480px MOBILE DEVICES -----------  */
/*@media only screen and (min-width: 480px){
}*/
/* -------------------------------------------- */

/*  ----------- MEDIA SCREEN 481px — 768px IPADS, TABLETS -----------  */
@media only screen and (min-width:768px){
  #banner h1{font-size:5vh}

  #banner h2{font-size:4vh}

  #section-servico h2{font-size:5vh}

  #section-servico .col-md{margin-top:0px!important}

  #section-quem-somos h2{font-size:5vh}

  #section-quem-somos{padding-bottom:0px!important}

  #section-quem-somos img{display:none}

  #section-quem-somos .col-md:nth-child(1) .box{width:425px;margin-right:30px}

  .info-metrica h3{font-size:3vh}

  .info-metrica h4{font-size:3vh}

  .info-metrica{padding-top:50px;padding-bottom:50px}

  .info-metrica .col-6{padding-top:0px}

  .info-metrica .verticalLine{border-left: 2px solid #FFFFFF}

  #section-projetos h2{font-size:5vh}

  #section-projetos .row,
  #section-projetos .col-md:nth-child(2),
  #section-projetos .col-md:nth-child(4){margin-top:0px!important}

  #section-contato h2{font-size:5vh}

  #section-contato h3{font-size:3vh}

  #section-projetos .padding{padding-top:30px;padding-bottom:30px}

  #section-contato .btn-enviar{width:unset}
}
/* -------------------------------------------- */

/*  ----------- MEDIA SCREEN 769px — 1024px SMALL SCREENS, LAPTOPS -----------  */
/*@media only screen and (min-width: 1024px){

}*/
/* -------------------------------------------- */

/*  ----------- MEDIA SCREEN 1025px — 1200px DESKTOPS, LARGE SCREENS -----------  */
/*@media only screen and (min-width: 1200px){

}*/
/* -------------------------------------------- */

/*  ----------- MEDIA SCREEN 1201px and more EXTRA LARGE SCREENS, TV -----------  */
/*@media only screen and (min-width: 1400px){

}*/
/* -------------------------------------------- 