/*  ----------- SECTION BANNER -----------  */
section#banner h1{font-size:4vh;color:#FFFFFF;text-shadow: 2px 2px 8px #000000}

section#banner h2{font-size:3vh;color:#FFFFFF;text-shadow: 2px 2px 8px #000000}
/*  -----------------------------------------  */
/*  ----------- SECTION INFO -----------  */
section#info i{color:#EA6509}
section#info h3{font-size:3vh}
/*  -----------------------------------------  */
/*  ----------- SLIDESHOW GALLERY -----------  */
.custom{
  padding-left: 5%;
  padding-right: 5%;
}
body {
  font-family: Arial;
  margin: 0;
}

* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container-gallery {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 30%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white!important;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

#caption{
  text-align: center;
  padding-top: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 12.5%;
}
.column_2 {
  float: left;
  width: 25%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
/* ----------------------------------------- */

/*#banner{
  width:100%;
  height:500px;
  background-image:url('../../img/site/background.png');
  background-size: cover;
  
}*/

/* Modernizr Webp */
.webp #banner{
	width: 100%;
   	height:500px;
 	background-image:url('../../img/site/background.webp');
  	background-size: cover;
}
.no-webp #banner{
	background-image:url('../../img/site/background.png');
}
/* Fim Modernizr Webp */

.custom h2{font-size:4vh}

/*  ----------- MEDIA SCREEN 481px — 768px IPADS, TABLETS -----------  */
@media only screen and (min-width: 768px){
  section#banner h1{font-size:6vh}

  section#banner h2{font-size:5vh}

	.custom{
		padding-left: 20%;
		padding-right: 20%;
	}
}
/* -------------------------------------------- */